### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import pandas as pd
import csv
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [71]:
total_schools = school_data_complete.groupby('school_name').count()
total_students = school_data_complete.groupby('Student ID').count()
sdcbyschool = school_data_complete.groupby('School ID').max()
sum_column = sdcbyschool['budget'].sum()
avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_count = passing_math['student_name'].count()   
percent_passing_math = passing_math_count / len(total_students) * 100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_count = passing_reading['student_name'].count()
percent_passing_reading = passing_reading_count / len(total_students) * 100
overall_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score']>=70)] 
overall_passing_count = overall_passing['student_name'].count()
percent_overall_passing = overall_passing_count / len(total_students) * 100
df = pd.DataFrame({'Total Schools': [len(total_schools)], 'Total Students': [len(total_students)], 'Total Budget': [sum_column], 'Average Math Score': [avg_math_score], 'Average Reading Score': [avg_reading_score], '% Passing Math': [percent_passing_math], '% Passing Reading': [percent_passing_reading], '% Overall Passing': [percent_overall_passing]})
print(df)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [72]:

school_data_complete.loc[school_data_complete['math_score']>= 70,'Passing Math']=1
school_data_complete.loc[school_data_complete['math_score']< 70,'Passing Math']=0
school_data_complete.loc[school_data_complete['reading_score']>= 70,'Passing Reading']=1
school_data_complete.loc[school_data_complete['reading_score']< 70,'Passing Reading']=0
school_data_complete.loc[(school_data_complete['math_score']>= 70) & (school_data_complete['reading_score']>=70),'Overall Passing']=1 
school_data_complete.loc[(school_data_complete['math_score']< 70) | (school_data_complete['reading_score']<70),'Overall Passing']=0
                                         
dfs=school_data_complete.groupby('School ID').agg( { 'school_name':'first',
                                                   'type':'first',
                                                   'Student ID':'count',
                                                    'budget':'max',
                                                    'math_score':'mean',
                                                    'reading_score':'mean',
                                                    'Passing Math':'sum',
                                                    'Passing Reading':'sum',
                                                    'Overall Passing': 'sum'
                                                   }
                                                 )


dfs['% Passing Math']=dfs['Passing Math']/dfs['Student ID']*100
dfs['% Passing Reading']=dfs['Passing Reading']/dfs['Student ID']*100
dfs['% Overall Passing']=dfs['Overall Passing']/dfs['Student ID']*100
dfs['Per_Student_Budget']=dfs['budget']/dfs['Student ID']
dfsorig=dfs.copy()
del dfs['Passing Math']
del dfs['Passing Reading']
del dfs['Overall Passing']
school_data_complete.rename({'type': 'School Type', 'Student ID': 'Total Students', 'budget' : 'Total School Budget', 'math_score' :'Average Math Score', 'reading_score' : 'Average Reading Score', 'Per_Student_Budget' : 'Per Student Budget'})
#dfs = pd.DataFrame({'School Type': [len(school_type)], 'Total Students': [len(total_students)], 'Total School Budget': [sum_column], 'Average Math Score': [avg_math_score], 'Average Reading Score': [avg_reading_score], 'Per Student Budget': [len(per_student_budget)]})
print(dfs)

                     school_name      type  Student ID   budget  math_score  \
School ID
0              Huang High School  District        2917  1910635   76.629414
1           Figueroa High School  District        2949  1884411   76.711767
2            Shelton High School   Charter        1761  1056600   83.359455
3          Hernandez High School  District        4635  3022020   77.289752
4            Griffin High School   Charter        1468   917500   83.351499
5             Wilson High School   Charter        2283  1319574   83.274201
6            Cabrera High School   Charter        1858  1081356   83.061895
7             Bailey High School  District        4976  3124928   77.048432
8             Holden High School   Charter         427   248087   83.803279
9               Pena High School   Charter         962   585858   83.839917
10            Wright High School   Charter        1800  1049400   83.682222
11         Rodriguez High School  District        3999  2547363   76.842711
12           Johnson High School  District        4761  3094650   77.072464
13              Ford High School  District        2739  1763916   77.102592
14            Thomas High School   Charter        1635  1043130   83.418349

           reading_score  % Passing Math  % Passing Reading  \
School ID
0              81.182722       65.683922          81.316421
1              81.158020       65.988471          80.739234
2              83.725724       93.867121          95.854628
3              80.934412       66.752967          80.862999
4              83.816757       93.392371          97.138965
5              83.989488       93.867718          96.539641
6              83.975780       94.133477          97.039828
7              81.033963       66.680064          81.933280
8              83.814988       92.505855          96.252927
9              84.044699       94.594595          95.945946
10             83.955000       93.333333          96.611111
11             80.744686       66.366592          80.220055
12             80.966394       66.057551          81.222432
13             80.746258       68.309602          79.299014
14             83.848930       93.272171          97.308869

           % Overall Passing  Per_Student_Budget
School ID
0                  53.513884               655.0
1                  53.204476               639.0
2                  89.892107               600.0
3                  53.527508               652.0
4                  90.599455               625.0
5                  90.582567               578.0
6                  91.334769               582.0
7                  54.642283               628.0
8                  89.227166               581.0
9                  90.540541               609.0
10                 90.333333               583.0
11                 52.988247               637.0
12                 53.539172               650.0
13                 54.289887               644.0
14                 90.948012               638.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [73]:
dfs.sort_values(by=['% Overall Passing'],inplace=True,ascending=False)
print(dfs.head(5))

                   school_name     type  Student ID   budget  math_score  \
School ID
6          Cabrera High School  Charter        1858  1081356   83.061895
14          Thomas High School  Charter        1635  1043130   83.418349
4          Griffin High School  Charter        1468   917500   83.351499
5           Wilson High School  Charter        2283  1319574   83.274201
9             Pena High School  Charter         962   585858   83.839917

           reading_score  % Passing Math  % Passing Reading  \
School ID
6              83.975780       94.133477          97.039828
14             83.848930       93.272171          97.308869
4              83.816757       93.392371          97.138965
5              83.989488       93.867718          96.539641
9              84.044699       94.594595          95.945946

           % Overall Passing  Per_Student_Budget
School ID
6                  91.334769               582.0
14                 90.948012               638.0
4                  90.599455               625.0
5                  90.582567               578.0
9                  90.540541               609.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [74]:
dfs.sort_values(by=['% Overall Passing'],inplace=True,ascending=True)
print(dfs.head(5))

                     school_name      type  Student ID   budget  math_score  \
School ID
11         Rodriguez High School  District        3999  2547363   76.842711
1           Figueroa High School  District        2949  1884411   76.711767
0              Huang High School  District        2917  1910635   76.629414
3          Hernandez High School  District        4635  3022020   77.289752
12           Johnson High School  District        4761  3094650   77.072464

           reading_score  % Passing Math  % Passing Reading  \
School ID
11             80.744686       66.366592          80.220055
1              81.158020       65.988471          80.739234
0              81.182722       65.683922          81.316421
3              80.934412       66.752967          80.862999
12             80.966394       66.057551          81.222432

           % Overall Passing  Per_Student_Budget
School ID
11                 52.988247               637.0
1                  53.204476               639.0
0                  53.513884               655.0
3                  53.527508               652.0
12                 53.539172               650.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [75]:
school_data_complete.head(5)
dfg=school_data_complete.groupby(by=["school_name","grade"]).mean()
del dfg['reading_score']
del dfg['Student ID']
del dfg['School ID']
del dfg['size']
del dfg['budget']
del dfg['Passing Reading']
del dfg['Overall Passing']
del dfg['Passing Math']
dft = dfg.query('grade  == "9th"')
ser9 = pd.Series(dft['math_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "10th"')
ser10 = pd.Series(dft['math_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "11th"')
ser11 = pd.Series(dft['math_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "12th"')
ser12 = pd.Series(dft['math_score'].values, index=dft.index.get_level_values("school_name"))
listSchoolNames=ser9.index.get_level_values("school_name")
frame = {'9th': ser9, '10th': ser10, '11th': ser11, '12th': ser12 } 
df_math_scores = pd.DataFrame(frame) 
print(df_math_scores)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [76]:
school_data_complete.head(5)
dfg=school_data_complete.groupby(by=["school_name","grade"]).mean()
del dfg['math_score']
del dfg['Student ID']
del dfg['School ID']
del dfg['size']
del dfg['budget']
del dfg['Passing Reading']
del dfg['Overall Passing']
del dfg['Passing Math']
dft = dfg.query('grade  == "9th"')
ser9 = pd.Series(dft['reading_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "10th"')
ser10 = pd.Series(dft['reading_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "11th"')
ser11 = pd.Series(dft['reading_score'].values, index=dft.index.get_level_values("school_name"))
dft = dfg.query('grade == "12th"')
ser12 = pd.Series(dft['reading_score'].values, index=dft.index.get_level_values("school_name"))
listSchoolNames=ser9.index.get_level_values("school_name")
frame = {'9th': ser9, '10th': ser10, '11th': ser11, '12th': ser12 } 
df_reading_scores = pd.DataFrame(frame) 
print(df_reading_scores)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [77]:
 
dfs1=dfsorig.sort_values(by='Per_Student_Budget') 

dfs1["bins"]=pd.cut(dfs1['Per_Student_Budget'],
      [0, 585, 630, 645, 675])


dfs2=dfs1.groupby('bins').agg( { 'bins':'first',
                                                   'math_score':'mean',
                                                   'reading_score':'mean',                                                   
                                                    'Passing Math':'sum',
                                                    'Passing Reading':'sum',
                                                    'Overall Passing': 'sum',
                                                    'Student ID': 'sum'
                                                   }
                                                 )
dfs2['% Passing Math']=dfs2['Passing Math']/dfs2['Student ID']*100
dfs2['% Passing Reading']=dfs2['Passing Reading']/dfs2['Student ID']*100
dfs2['% Overall Passing']=dfs2['Overall Passing']/dfs2['Student ID']*100

del dfs2['Passing Math']
del dfs2['Passing Reading']
del dfs2['Student ID']
del dfs2['Overall Passing']
print(dfs2)

                  bins  math_score  reading_score  % Passing Math  \
bins
(0, 585]      (0, 585]   83.455399      83.933814       93.702889
(585, 630]  (585, 630]   81.899826      83.155286       79.109851
(630, 645]  (630, 645]   78.518855      81.624473       70.623565
(645, 675]  (645, 675]   76.997210      81.027843       66.230813

            % Passing Reading  % Overall Passing
bins
(0, 585]            96.686558          90.640704
(585, 630]          88.513145          70.939239
(630, 645]          82.600247          58.841194
(645, 675]          81.109397          53.528791

## Scores by School Size

* Perform the same operations as above, based on school size.

In [88]:

dfs1=dfsorig.sort_values(by='Student ID') 

dfs1["bins"]=pd.cut(dfs1['Student ID'],
      [0, 1000, 2000, 5000])


dfs2=dfs1.groupby('bins').agg( { 'bins':'first',
                                                   'math_score':'mean',
                                                   'reading_score':'mean',                                                   
                                                    'Passing Math':'sum',
                                                    'Passing Reading':'sum',
                                                    'Overall Passing': 'sum',
                                                    'Student ID': 'sum'
                                                   }
                                                 )
dfs2['% Passing Math']=dfs2['Passing Math']/dfs2['Student ID']*100
dfs2['% Passing Reading']=dfs2['Passing Reading']/dfs2['Student ID']*100
dfs2['% Overall Passing']=dfs2['Overall Passing']/dfs2['Student ID']*100

del dfs2['Passing Math']
del dfs2['Passing Reading']
del dfs2['Student ID']
del dfs2['Overall Passing']
print(dfs2)

                      bins  math_score  reading_score  % Passing Math  \
bins
(0, 1000]        (0, 1000]   83.821598      83.929843       93.952484
(1000, 2000]  (1000, 2000]   83.374684      83.864438       93.616522
(2000, 5000]  (2000, 5000]   77.746417      81.344493       68.652380

              % Passing Reading  % Overall Passing
bins
(0, 1000]             96.040317          90.136789
(1000, 2000]          96.773058          90.624267
(2000, 5000]          82.125158          56.574046

## Scores by School Type

* Perform the same operations as above, based on school type

In [100]:
dfs1=dfsorig.sort_values(by='type') 


      


dfs2=dfs1.groupby('type').agg( { 'type':'first',
                                                   'math_score':'mean',
                                                   'reading_score':'mean',                                                   
                                                    'Passing Math':'sum',
                                                    'Passing Reading':'sum',
                                                    'Overall Passing': 'sum',
                                                    'Student ID': 'sum'
                                                   }
                                                 )
dfs2['% Passing Math']=dfs2['Passing Math']/dfs2['Student ID']*100
dfs2['% Passing Reading']=dfs2['Passing Reading']/dfs2['Student ID']*100
dfs2['% Overall Passing']=dfs2['Overall Passing']/dfs2['Student ID']*100

del dfs2['Passing Math']
del dfs2['Passing Reading']
del dfs2['Student ID']
del dfs2['Overall Passing']
print(dfs2)

              type  math_score  reading_score  % Passing Math  \
type
Charter    Charter   83.473852      83.896421       93.701821
District  District   76.956733      80.966636       66.518387

          % Passing Reading  % Overall Passing
type
Charter           96.645891          90.560932
District          80.905249          53.695878